@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    scroll-behavior: smooth;
    font-family: sans-serif  !important;
}

::-webkit-scrollbar{
    width: 0rem;
}


::-webkit-scrollbar-track{
    background: #4c3067;
} 

::-webkit-scrollbar-thumb{
    background-color: #4d5fae;
    border-radius: 1rem;
}

body {
      /* background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('bg.jpg'); */
  /* background purple gradient - */
  background: linear-gradient(135deg, #4d5fae 0%, #4c3067 50%);
  /* animated bg */
    background-size: 140% 140%;
    /* animation: gradient 15s ease infinite; */
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
